{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">

    <div class="row">
        <div class="col col-12">
            Total results: <strong>{{ pagination.getTotalItemCount }}</strong>
        </div>
    </div>

    <div class="row justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>

</div>

    <div class="container-fluid">
        <div class="row">
            <div class="col col-12 col-md-10">
                <div id="projects" class="card-columns">
                    {% for project in pagination  %}
                        {% set link = path( 'project-read', {id: project.getId()} ) %}
                        <div class="card">
                            <div class="card-header">
                                <a class="js-project-link" href="{{ link }}" target="_blank"><strong>{{ project.getTitle() }}</strong></a>
                            </div>
                            <div class="card-body">

                                {% if project.getPostedAt()|length %}
                                    {% set readableDate = project.getPostedAt()|date('F jS, Y g:ia') %}
                                    <span class="badge badge-pill badge-success"><time class="timeago" datetime="{{ project.getPostedAt()|date('Y-m-d\\TH:i:sP') }}" title="{{ readableDate }}">{{ readableDate }}</time></span>
                                {% endif %}

                                <span class="badge badge-pill badge-success">{{ project.getPlatform() }}</span>
                                {% if project.getLocation()|length %}
                                    <span class="badge badge-pill badge-warning">{{ project.getLocation() }}</span>
                                {% endif %}
                                {% if project.getBudget()|length %}
                                    <span class="badge badge-pill badge-success">{{ project.getBudget() }}</span>
                                {% endif %}

                                <div class="card-text project-description" data-linkify="this">
                                    {{ project.getDescription()|raw|nl2br }}
                                </div>

                                <a href="{{ link }}" target="_blank" class="js-project-link mt-3 btn btn-primary">Read</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col col-12 col-md-2">
                <strong>Recently opened</strong>
                <ul class="list-group">
                    {% for project in recentlyReadProjects %}
                        <li>
                            <a href="{{ project.getUrl() }}" target="_blank">{{ project.getTitle() }}</a>
                            <span class="badge badge-pill badge-success">{{ project.getPlatform() }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-linkify/2.1.9/linkify.min.js" integrity="sha256-b8aRDYEOoOLGpyaXMI3N2nWUbjSeQ2QxzKjmPnCa4yA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-linkify/2.1.9/linkify-jquery.min.js" integrity="sha256-F70q7AGz3CYOo2UIkomPSg5xAnO52dJ646kytZ7lSEQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js" integrity="sha256-0+5OfvOxkLHqpLPPwy9pDjug8N3cwaqcmleaxnR5VS8=" crossorigin="anonymous"></script>

    <style>
        .project-description {
            font-size: 90%;
        }
    </style>

    <script>
        $(document).ready(function() {
            var lastKnownId = {{ (last_project.id) ? last_project.id : 'null' }};
            if ( 0 === lastKnownId ) return;
            console.log('lastKnownId', lastKnownId);

            function fetchNotification() {
                if (!Notification) {
                    $('body').append('<h4 style="color:red">*Browser does not support Web Notification</h4>');
                    return;
                }
                if (Notification.permission !== "granted")
                    Notification.requestPermission();
                else {
                    var jxhr = $.get("{{ path('api-later-project-count', {'lastId': last_project.id }) }}");
                    jxhr.done(function(response) {
                       if ( 0 < response.newProjects ) {
                           var $msg = response.newProjects + ' new project' + (( response.newProjects === 1 ) ? '' : 's') + '!';
                           var notif = new Notification($msg);
                           notif.onclick = function() {
                               window.location.reload();
                               window.focus();
                               notif.close();
                           };
                       } else {
                           console.log('no new project');
                       }
                    });
                }
            }
            setInterval(fetchNotification,60000);
            fetchNotification();
        });
        $(document).ready(function() {
            $("time.timeago").timeago();
        });
        $(document).on("mousedown", function (e1) {
            $(document).on("mouseup", function (e2) {
                if (e1.which == 2 && e1.target == e2.target) {
                    var e3 = $.event.fix(e2);
                    e3.type = "middleclick";
                    $(e2.target).trigger(e3)
                }
            });
        });
        $(document).ready(function() {
            var handleClick = function(e) {
                var $card = $(this).closest('.card');
                if ( 0 === $card.length ) return;
                $card.remove();
            };
            $('.js-project-link').click(handleClick);
            $(document).on("mousedown", function (e1) {
                if (e1.which === 2) {
                    $(document).one("mouseup", function (e2) {
                        if (e1.target === e2.target) {
                            var e3 = $.event.fix(e2);
                            e3.type = "middleclick";
                            $(e2.target).trigger(e3);
                        }
                    });
                }
            });
            $(document).on("middleclick", ".js-project-link", function(e) {
                window.open(
                    $(this)[0].href, "_blank"
                );
                var $card = $(this).closest('.card');
                if ( 0 === $card.length ) return;
                $card.remove();
            });
        });
    </script>
{% endblock %}