{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">

    <div class="row">
        <div class="col col-12">
            Total results: <strong>{{ pagination.getTotalItemCount }}</strong>
        </div>
    </div>

    <div class="row justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div id="projects" class="card-columns">
        {% for project in pagination  %}
            {% set link = path( 'project-read', {id: project.getId()} ) %}
                <div class="card">
                    <div class="card-header">
                        <a href="{{ link }}" target="_blank"><strong>{{ project.getTitle() }}</strong></a>
                    </div>
                    <div class="card-body">

                        {% if project.getPostedAt()|length %}
                            {% set readableDate = project.getPostedAt()|date('F jS, Y g:ia') %}
                            <span class="badge badge-pill badge-success"><time class="timeago" datetime="{{ project.getPostedAt()|date('Y-m-d\\TH:i:sP') }}" title="{{ readableDate }}">{{ readableDate }}</time></span>
                        {% endif %}

                        <span class="badge badge-pill badge-success">{{ project.getPlatform() }}</span>
                        {% if project.getLocation()|length %}
                            <span class="badge badge-pill badge-warning">{{ project.getLocation() }}</span>
                        {% endif %}
                        {% if project.getBudget()|length %}
                            <span class="badge badge-pill badge-success">{{ project.getBudget() }}</span>
                        {% endif %}

                        <div class="card-text project-description" data-linkify="this">
                            {{ project.getDescription()|raw|nl2br }}
                        </div>

                        <a href="{{ link }}" target="_blank" class="mt-3 btn btn-primary">Read</a>
                    </div>
                </div>
        {% endfor %}
    </div>

    <div class="row justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-linkify/2.1.9/linkify.min.js" integrity="sha256-b8aRDYEOoOLGpyaXMI3N2nWUbjSeQ2QxzKjmPnCa4yA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-linkify/2.1.9/linkify-jquery.min.js" integrity="sha256-F70q7AGz3CYOo2UIkomPSg5xAnO52dJ646kytZ7lSEQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.6.7/jquery.timeago.min.js" integrity="sha256-0+5OfvOxkLHqpLPPwy9pDjug8N3cwaqcmleaxnR5VS8=" crossorigin="anonymous"></script>

    <style>
        .project-description {
            font-size: 90%;
        }
    </style>

    <script>
        $(document).ready(function() {
            $("time.timeago").timeago();
        });
    </script>
{% endblock %}